
VITE_OPENAI_API_KEY = "<OPENAI_API_KEY>"

VITE_USDA_URL='https://api.nal.usda.gov/fdc/v1'
VITE_SDA_API_KEY="<API_KEY>"
VITE_USDA_SOURCES = ["Foundation", "SR Legacy"]

VITE_BACKEND_URL='<BACKEND_URL>'