/* color palette from <https://github.com/vuejs/theme> */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-white: #ffffff;

  --text-black: #000000;
  --text-black-soft: hsl(0, 0%, 50%);

  --thymeNav: hsl(119, 54%, 53%);
  --thymeBackdrop: hsl(126, 40%, 95%);
  --nav-active-highlight: hsl(0, 55%, 40%);
  --nav-highlight: hsl(0, 40%, 30%);
}


body {
  color: var(--text-black);
  background: var(--thymeBackdrop);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
